* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 550px;
  width: 500px;
  background-color: black;
  color: rgb(0, 0, 0);
}

.grid div {
  /* border: 1px solid rgb(71, 70, 70); */
  flex-grow: 1;
  width: calc(100% - 474px);
  height: calc(100% - 523px);
}

.grid div.food {
  background-image: url('../assets/yellowDot.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
}

.grid div.cookie {
  background-image: url('../assets/yellowDot.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600%;
}

.grid div.pacman {
  background-image: url('../assets/pac-man-gif.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.ghost {
  background-image: url('../assets/yellowGhost.gif');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.grid div.ghost {
  background-image: url('../assets/blueGhost\ copy.gif');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.grid div.ghostPink {
  background-image: url('../assets/pinkGhostOriginal.gif');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.wall {
  background-color: rgb(11, 11, 94);
  border: 1px solid rgb(0, 0, 255);
}

.grid div.ghostSpawnBox {
  background-image: none;
}
